body {
  width: 100vh;
  height: 170vh;
  font-family: 'Oswald', sans-serif;
  background-color: #fff5e1;
  margin: auto;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 5vh;
  color: #ec2027;
  margin: auto;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4vh;
  color: #000;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3vh;
  color: #000;
}

p {
  font-family: 'Bebas Neue', cursive;
  font-size: 2vh;
}

a {
  font-weight: bold;
  color: #666;
}

body footer div img {
  max-width: 12vh;
  height: 12vh;
}

body div footer {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(51, 63, 224, 0.493)), to(rgba(255, 0, 0, 0.212)));
  background-image: linear-gradient(to left, rgba(51, 63, 224, 0.493), rgba(255, 0, 0, 0.212));
}

.gridCuerpo {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25vh 5vh 105vh 5vh 21vh 10vh;
      grid-template-rows: 25vh 5vh 105vh 5vh 21vh 10vh;
  -ms-grid-columns: 100vh;
      grid-template-columns: 100vh;
      grid-template-areas: "heade  " "nave     " "mainCentral " "arriba  " "footer  " ".";
}

.gridHeaderIndex {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heade;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25vh;
      grid-template-rows: 25vh;
  -ms-grid-columns: 100vh;
      grid-template-columns: 100vh;
}

.imgHeader {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vh 80vh 10vh;
      grid-template-columns: 10vh 80vh 10vh;
  -ms-grid-rows: 25vh;
      grid-template-rows: 25vh;
      grid-template-areas: ". centrado .";
  justify-items: center;
}

.imagenHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: centrado;
  max-width: 100%;
  height: 25vh;
}

.gridNavIndex {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nave;
  display: -ms-grid;
  display: grid;
      grid-template-rows: 5vh;
  grid-column: 100vh;
}

.gridListaNav {
  margin: 0%;
  padding: 0%;
  list-style: none;
  height: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  font-size: 2vh;
  grid-area: nav;
  background-color: aquamarine;
}

.liNav:hover {
  font-size: 120%;
  -webkit-transition: 2s;
  transition: 2s;
}

.gridCuerpoContacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25vh 5vh 110vh 5vh 21vh 10vh;
      grid-template-rows: 25vh 5vh 110vh 5vh 21vh 10vh;
  -ms-grid-columns: 100vh;
      grid-template-columns: 100vh;
      grid-template-areas: "encabe  " "nave" "mainCentral " "arriba  " "footer  " ".";
}

/*#gridListaNav{  margin: 0%;
                padding: 0%;
                list-style: none;
                height: 100%;
                display: grid;
                grid-area: nave;
                grid-template-rows:100%;
                grid-template-columns:20% 20% 20% 20% 20%;
                justify-items: center;
                align-items: center;}*/
.gridMain {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mainCentral;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 105vh;
      grid-template-rows: 105vh;
  -ms-grid-columns: 50vh 50vh;
      grid-template-columns: 50vh 50vh;
      grid-template-areas: "section aside";
}

.gridMainHorarios {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mainCentral;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 90vh;
      grid-template-rows: 10vh 90vh;
  -ms-grid-columns: 50vh 50vh;
      grid-template-columns: 50vh 50vh;
      grid-template-areas: " horarios  . " " tabla     tabla";
}

.gridMainContacto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mainCentral;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120vh;
      grid-template-rows: 120vh;
  -ms-grid-columns: 50vh 50vh;
      grid-template-columns: 50vh 50vh;
      grid-template-areas: "section aside";
}

.tituloHorario {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: horarios;
  text-align: center;
}

.tablaHorarios {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tabla;
}

.gridSectAside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: section;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 95vh;
      grid-template-rows: 10vh 95vh;
  -ms-grid-columns: 50vh;
      grid-template-columns: 50vh;
      grid-template-areas: "titulo  " "parrafo";
}

.gridSectAsideContacto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: section;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 70vh;
      grid-template-rows: 10vh 70vh;
  -ms-grid-columns: 50vh;
      grid-template-columns: 50vh;
      grid-template-areas: "titulo  " "parrafo";
}

.titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
  text-align: center;
  margin: auto;
}

.parrafo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: parrafo;
  margin: 2%;
  text-align: justify;
}

.gridParrafoContacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: parrafo;
  margin: 2%;
  text-align: justify;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15vh 15vh 15vh 24vh 18vh;
      grid-template-rows: 15vh 15vh 15vh 24vh 18vh;
}

.textoContacto {
  font-size: 2vh;
}

.texareaContacto {
  height: 20vh;
}

.gridAsideIndex {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aside;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 30vh 70vh;
      grid-template-rows: 10vh 30vh 70vh;
  -ms-grid-columns: 50vh;
      grid-template-columns: 50vh;
      grid-template-areas: "titulo  " "asideVideo  " "parrafoDos";
}

.gridAsideVision {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aside;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 90vh;
      grid-template-rows: 10vh 90vh;
  -ms-grid-columns: 50vh;
      grid-template-columns: 50vh;
      grid-template-areas: "titulo  " "asideProfe";
}

.gridAsideServicios {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aside;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 90vh;
      grid-template-rows: 10vh 90vh;
  -ms-grid-columns: 50vh;
      grid-template-columns: 50vh;
      grid-template-areas: "titulo  " "parrafoDos";
}

.gridAsideContacto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aside;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 70vh;
      grid-template-rows: 10vh 70vh;
  -ms-grid-columns: 50vh;
      grid-template-columns: 50vh;
      grid-template-areas: "titulo  " "asideProfe";
}

.asideVideo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: asideVideo;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.asideProfe {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: asideProfe;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 35vh 10vh;
      grid-template-rows: 35vh 10vh;
}

.cardTex {
  text-align: center;
}

.estiloVideo {
  max-width: 100%;
  max-height: 100%;
  border: solid  yellow;
}

.profeDimension {
  height: 100%;
  width: 100%;
}

.estiloProfe {
  max-width: 50vh;
  max-height: 50vh;
  border: solid  yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.estiloProfeDos {
  max-width: 30vh;
  max-height: 30vh;
  border: solid  yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.botonAncho {
  height: 8vh;
}

.cardAncho {
  width: 100%;
}

.parrafoDos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: parrafoDos;
  margin: 2%;
  text-align: justify;
}

.arriba {
  font-size: 3vh;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: arriba;
  text-align: center;
  margin: auto;
}

.checkCentrado {
  margin: auto;
}

#gridFooter {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

.divFooter {
  grid-area: direc;
  text-align: center;
}

.direccion {
  font-size: 1.8vh;
}

.altoUno {
  height: 3vh;
}

.altoDos {
  height: 5vh;
}

.altoTres {
  height: 15vh;
}

.altoCuatro {
  height: 4vh;
}

.divLogo {
  grid-area: logo;
  text-align: center;
}

.inst {
  grid-area: inst;
  text-align: center;
}

.logoInst {
  height: 6vh;
  width: 6vh;
}

.face {
  grid-area: face;
  text-align: center;
}

.logoFace {
  height: 6vh;
  width: 6vh;
}

.dise {
  grid-area: crea;
  text-align: center;
}

.creador {
  margin: 4vh 0 0 0;
  font-size: 1.8vh;
}

.wc {
  font-size: 2.2vh;
  color: #83af6a;
  margin: 2vh;
}

.wde {
  font-size: 2.2vh;
  color: #8572ca;
  margin: 2vh;
}

.c {
  font-size: 2.2vh;
  color: #cddb8f;
  margin: 2vh;
}

.ta {
  font-size: 2.2vh;
  color: #e018ae;
  margin: 2vh;
}

.tablaInd {
  grid-area: inicio;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
      grid-template-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
  text-align: center;
  font-size: 2.3vh;
  color: #666;
}

.tablaWc {
  grid-area: uno;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
      grid-template-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
  text-align: center;
  font-size: 2vh;
  color: #83af6a;
}

.tablaWcDos {
  grid-area: dos;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
      grid-template-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
  text-align: center;
  font-size: 2vh;
  color: #83af6a;
}

.tablaWde {
  grid-area: tres;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
      grid-template-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
  text-align: center;
  font-size: 2vh;
  color: #8572ca;
}

.tablac {
  grid-area: cuatro;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
      grid-template-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
  text-align: center;
  font-size: 2vh;
  color: #cddb8f;
}

.tablacDos {
  grid-area: cinco;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
      grid-template-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
  text-align: center;
  font-size: 2vh;
  color: #cddb8f;
}

.tablaTa {
  grid-area: seis;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
      grid-template-columns: 10vh 10vh 15vh 40vh 10vh 15vh;
  text-align: center;
  font-size: 2vh;
  color: #e018ae;
}

/*index*/
@media only screen and (max-width: 576px) {
  body {
    width: 40vh;
  }
  body footer div img {
    max-width: 5vh;
    height: 5vh;
  }
  /*Index*/
  .mediaIndex {
    height: 190vh;
  }
  .gridCuerpo {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25vh 12.5vh 125vh 5vh 20vh 5vh;
        grid-template-rows: 25vh 12.5vh 125vh 5vh 20vh 5vh;
    -ms-grid-columns: 40vh;
        grid-template-columns: 40vh;
        grid-template-areas: "heade  " "nave     " "mainCentral " "arriba  " "footer  " ".";
  }
  .gridHeaderIndex {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: heade;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25vh;
        grid-template-rows: 25vh;
    -ms-grid-columns: 40vh;
        grid-template-columns: 40vh;
  }
  .gridNavIndex {
    /* grid-area:nave ;
                display: grid;*/
    -ms-grid-rows: 12.5vh;
        grid-template-rows: 12.5vh;
    -ms-grid-column: 40;
    grid-column: 40vh;
  }
  .imgHeader {
    width: 25vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5vh 30vh 5vh;
        grid-template-columns: 5vh 30vh 5vh;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
        grid-template-areas: ". centrado .";
    justify-items: center;
  }
  .gridListaNav {
    margin: 0%;
    padding: 0%;
    list-style: none;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2.5vh 2.5vh 2.5vh 2.5vh 2.5vh;
        grid-template-rows: 2.5vh 2.5vh 2.5vh 2.5vh 2.5vh;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gridMain {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: mainCentral;
    display: -ms-grid;
    display: grid;
        grid-template-rows: 80vh 60vh;
        grid-template-columns: 40vh;
        grid-template-areas: "section" "aside";
  }
  .gridAsideIndex {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: aside;
    display: -ms-grid;
    display: grid;
        grid-template-rows: 20vh 30vh;
        grid-template-columns: 40vh;
        grid-template-areas: "parrafoDos  " "asideVideo";
  }
  /*Vision*/
  .mediaVision {
    height: 80vh;
  }
  .gridCuerpoMediaVision {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25vh 5vh 80vh 5vh 20vh 5vh;
        grid-template-rows: 25vh 5vh 80vh 5vh 20vh 5vh;
    -ms-grid-columns: 40vh;
        grid-template-columns: 40vh;
        grid-template-areas: "header  " "nav     " "mainCentral " "arriba  " "footer  " ".";
  }
  .gridMainMediaVision {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: mainCentral;
    display: -ms-grid;
    display: grid;
        grid-template-rows: 30vh 50vh;
        grid-template-columns: 40vh;
        grid-template-areas: "section" "aside";
  }
  .gridSectAside {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: section;
    display: -ms-grid;
    display: grid;
        grid-template-rows: 10vh 60vh;
        grid-template-columns: 40vh;
        grid-template-areas: "titulo  " "parrafo";
  }
  .gridAsideVision {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: aside;
    display: -ms-grid;
    display: grid;
        grid-template-rows: 5vh 40vh;
        grid-template-columns: 40vh;
        grid-template-areas: ". " "asideProfe";
  }
  .estiloProfe {
    max-width: 30vh;
    max-height: 30vh;
    border: solid  yellow;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  /*Sevicios*/
  .mediaServicios {
    height: 300vh;
  }
  .gridCuerpoMediaServicios {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25vh 5vh 158vh 5vh 20vh 1vh;
        grid-template-rows: 25vh 5vh 158vh 5vh 20vh 1vh;
    -ms-grid-columns: 40vh;
        grid-template-columns: 40vh;
        grid-template-areas: "header  " "nav     " "mainCentral " "arriba  " "footer  " ".";
  }
  .gridMainServicios {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: mainCentral;
    display: -ms-grid;
    display: grid;
        grid-template-rows: 88vh 70vh;
        grid-template-columns: 40vh;
        grid-template-areas: "section" "aside";
  }
  .gridSectAside {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: section;
    display: -ms-grid;
    display: grid;
        grid-template-rows: 10vh 100vh;
        grid-template-columns: 40vh;
        grid-template-areas: "titulo  " "parrafo";
  }
  .gridAsideServicios {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: aside;
    display: -ms-grid;
    display: grid;
        grid-template-rows: 1vh 69vh;
        grid-template-columns: 40vh;
        grid-template-areas: "titulo  " "parrafoDos";
  }
  .mediaParrafo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: parrafo;
    margin: 0;
    text-align: center;
  }
  .mediaParrafoDos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: parrafoDos;
    margin: 0;
    text-align: center;
  }
  .wc {
    margin: 0;
  }
  .wde {
    margin: 0;
  }
  .c {
    margin: 0;
  }
  .ta {
    margin: 0;
  }
  /*Horarios*/
  .mediaHorarios {
    height: 100vh;
  }
  .gridCuerpoMediaHorario {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25vh 5vh 100vh 5vh 21vh 1vh;
        grid-template-rows: 25vh 5vh 100vh 5vh 21vh 1vh;
    -ms-grid-columns: 40vh;
        grid-template-columns: 40vh;
        grid-template-areas: "header  " "nav     " "mainCentral " "arriba  " "footer  " ".";
  }
  .gridMainHorarios {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: mainCentral;
    display: -ms-grid;
    display: grid;
        grid-template-rows: 10vh 90vh;
        grid-template-columns: 20vh 20vh;
        grid-template-areas: " horarios  . " " tabla     tabla";
  }
  .tablaInd {
    grid-area: inicio;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
        grid-template-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
    text-align: center;
    font-size: 1.8vh;
    color: #666;
  }
  .tablaWc {
    grid-area: uno;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
        grid-template-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
    text-align: center;
    font-size: 1.3vh;
    color: #83af6a;
  }
  .tablaWcDos {
    grid-area: dos;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
        grid-template-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
    text-align: center;
    font-size: 1.3vh;
    color: #83af6a;
  }
  .tablaWde {
    grid-area: tres;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
        grid-template-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
    text-align: center;
    font-size: 1.3vh;
    color: #8572ca;
  }
  .tablac {
    grid-area: cuatro;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
        grid-template-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
    text-align: center;
    font-size: 1.3vh;
    color: #cddb8f;
  }
  .tablacDos {
    grid-area: cinco;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
        grid-template-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
    text-align: center;
    font-size: 1.3vh;
    color: #cddb8f;
  }
  .tablaTa {
    grid-area: seis;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
        grid-template-columns: 4.5vh 6vh 6vh 9.5vh 9vh 5vh;
    text-align: center;
    font-size: 1.3vh;
    color: #e018ae;
  }
  /*Contacto*/
  .mediaContacto {
    height: 200vh;
  }
  .gridCuerpoContacto {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 25vh 5vh 160vh 5vh 21vh 1vh;
        grid-template-rows: 25vh 5vh 160vh 5vh 21vh 1vh;
    -ms-grid-columns: 40vh;
        grid-template-columns: 40vh;
        grid-template-areas: "header  " "nav     " "mainCentral " "arriba  " "footer  " ".";
  }
  .gridMainContacto {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: mainCentral;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 85vh 80vh;
        grid-template-rows: 85vh 80vh;
    -ms-grid-columns: 40vh;
        grid-template-columns: 40vh;
        grid-template-areas: "section" "aside";
  }
  .gridSectAsideContacto {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: section;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10vh 70vh;
        grid-template-rows: 10vh 70vh;
    -ms-grid-columns: 40vh;
        grid-template-columns: 40vh;
        grid-template-areas: "titulo  " "parrafo";
  }
  .gridAsideContacto {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: aside;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10vh 70vh;
        grid-template-rows: 10vh 70vh;
    -ms-grid-columns: 40vh;
        grid-template-columns: 40vh;
        grid-template-areas: "titulo  " "asideProfe";
  }
  /*Footer - todos*/
  .logoInst {
    height: 2vh;
    width: 2vh;
  }
  .logoFace {
    height: 2vh;
    width: 2vh;
  }
  .creador {
    font-size: 1vh;
    margin: 0;
  }
  .arriba {
    font-size: 2vh;
  }
  .direccion {
    font-size: 1vh;
  }
}
/*# sourceMappingURL=estilo.css.map */