<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chino 918: contacto</title>
    <meta name="keywords" content="Idioma, Lenguaje, Lengua, Chino, Chino Mandarin, Clases, Enseñanza, Estudio, Aprendisaje, Talleres, Workshop, Traducción, ">
    <meta name="description" content="Tras elegir el curso, taller y/o workshop, completa el formulario y nos pondremos en contacto. Empecemos el camino para aprender.">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/stilos.css">
    <!-- font BebasNeue -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- font Oswald -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

</head>
<body class="mediaContacto">
    <div  class="gridCuerpoContacto">
        <header>
            <a href="../index.html" class="imgHeader">
                <img src="../imagenes/header.JPG" alt="Logo" 
                class="rounded-circle imagenHeader">
            </a>
        </header>
        <nav>
            <ul class="gridListaNav">
              <li class="liNav"><a href="../index.html">Home</a></li>
              <li class="liNav"><a href="../views/vision.html">Vision</a></li>
              <li class="liNav"><a href="../views/servicios.html  ">Servicios</a></li>
              <li class="liNav"><a href="./horarios.html">Horarios</a></li>
              <li class="liNav"><a href="./contactos.html">Contacto</a></li>
           </ul>
        </nav>
        <main class="gridMainContacto">
            <section class="gridSectAsideContacto">
                <h1 class="titulo">Contactos</h1>
                <form action="" class="gridParrafoContacto">
                    <div class="form-group textoContacto ">   
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" placeholder="Ej.Leandro" id="nombre">
                    </div>    
                    <div class="form-group textoContacto">
                        <label for="apellido" >Apellido</label>
                        <input type="text" class="form-control" placeholder="Ej.Luck" id="apellido">
                    </div>
                    <div class="form-group textoContacto">
                        <label for="email" >Email</label>
                        <input type="email" class="form-control" placeholder="Ej.Leandro_luck@yahoo.com.ar" id="email">
                    </div>
                    <div class="form-group textoContacto">
                        <label for="mensaje" >Deja tus preguntas.</label>
                        <textarea class="form-control texareaContacto" id="mensaje" rows="3"></textarea>
                    </div>
                    <div class="form-group textoContacto">
                        <label for="genero" >Genero</label>
                    <select class="form-control textoContacto" id="genero">
                            <option >No Binario</option>
                            <option >Masculino</option>
                            <option >Femenino</option>
                    </select>
                    </div>


            </section>
            <aside class="gridAsideContacto">
                <div class="asideProfe">
                    <img src="../imagenes/profesora.JPG" alt="Profesora" class="estiloProfeDos">

                    <div class="form-check checkCentrado textoContacto">
                        <input class="form-check-input" type="checkbox"  value="1" id="aceptar">
                        <label  class="form-check-label" for="aceptar">Quiero recivir infomarmación</label>
                    </div>
                    <div class="btn-group btn-group-toggle "">
                        <input class="btn btn-primary active botonAncho textoContacto" type="submit" value="Enviar">
                        <input class="btn btn-primary botonAncho textoContacto" type="reset" value="Borrar">
                    </div>
                </div>
                
            </aside>                    

        </main> 
        <div class="arriba">
            <a href="./contactos.html">Arriba</a>
        </div>
        <footer id="gridFooter">
            <div class="container divFooter altoUno">
                <div class="row">
                    <div class="col-md-2 col-sm-1" ></div>
                    <div class="col-md-8 col-sm-10">
                        <p class="direccion">Chino 918 - chino918@gmail.com - 0800-CHINO918(24466918)</p>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                    
                </div>
            </div>
            <div class="container altoDos">
                <div class="row divLogo">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <img src="../imagenes/footer.png" alt="logo">
                    </div>
                    <div class="col-md-4"></div>
                   
                </div>
            </div>
            <div class="container altotres">
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="inst col-md-3 col-sm-4">
                        <a href="https://www.instagram.com/chino.918/?hl=es-la" >
                            <img src="../imagenes/instragram.png" alt="Logo instagram" class="logoInst">
                            </a>
                    </div>
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="face col-md-3 col-sm-4">
                        <a href="https://www.facebook.com/918chino">
                            <img src="../imagenes/facebook.png" alt="Logo facebook" class="logoFace">
                    </a>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>
            </div>
            <div class="container altoCuatro">
                <div class="row dise">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <p class="creador">Diseñador: Leandro Luck</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            
        </footer>
    </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>  
</body>
</html>