<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chino 918: días y horarios de los cursos y talleres.</title>
    <meta name="keywords" content="Idioma, Lenguaje, Lengua, Chino, Chino Mandarin, Clases, Enseñanza, Estudio, Aprendisaje, Talleres, Workshop, Traducción, ">
    <meta name="description" content="Chino 918, no solo se facilita el aprendisaje del idioma chino mediante los cursos, talleres y workshop, si no que también te facilita los horarios y la comodidad de hacerlos desde tu casa. ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../estilo.css">
    <!-- font BebasNeue -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- font Oswald -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

</head>
<body class="mediaHorarios">
    <div class="gridCuerpo gridCuerpoMediaHorario">
        <header class="gridHeaderIndex">
            <a href="../index.html" class="imgHeader">
                <img src="../imagenes/header.JPG" alt="Logo" class="rounded-circle imagenHeader">
            </a> 
        </header>
        <nav class="gridNavIndex">
            <ul class="gridListaNav">
                <li class="liNav"><a href="../index.html">Home</a></li>
                <li class="liNav"><a href="./vision.html">Vision</a></li>
                <li class="liNav"><a href="./servicios.html">Servicios</a></li>
                <li class="liNav"><a href="./horarios.html">Horarios</a></li>
                <li class="liNav"><a href="./contactos.html">Contacto</a></li>
            </ul>
        </nav>  
        <main class="gridMainHorarios">
            <div class="tituloHorario">
                <h1>Horarios</h1>
            </div>
            <table class="table table-hover tablaHorarios">
                <thead>
                    <tr class="tablaInd">
                    <th scope="col">Inicio</th>
                    <th scope="col">Día</th>
                    <th scope="col">Hoario</th>
                    <th scope="col">Capacitación</th>
                    <th scope="col">Cant/Clases</th>
                    <th scope="col">Valor</th>
                
                    </tr>
                </thead>
                <tbody>
                    <tr class="tablaWc">
                    <td>24/3</td>
                    <td>Miercoles</td>
                    <td>19:00hs a 20:30hs</td>
                    <td>Workshop: Diseño grafico contemporáneos Chino</td>
                    <td>4</td>
                    <td>$2000</td>
                    </tr>
                    <tr class="tablaWcDos">
                    <td>24/3</td>
                    <td>Miercoles</td>
                    <td>20:30hs a 22:00hs</td>
                    <td>Workshop: Fuentes tipográficas chinas y diseño de posters</td>
                    <td>4</td>
                    <td>$2000</td>
                    </tr>
                    <tr class="tablaWde">
                    <td>26/3</td>
                    <td>Viernes</td>
                    <td>19:00hs a 20:30hs</td>
                    <td>Workshop: Manga"The song of the long March"</td>
                    <td>4</td>
                    <td>$2000</td>
                    </tr>
                    <tr class="tablac">
                    <td>16/3</td>
                    <td>Martes y Jueves</td>
                    <td>19:00hs a 20:30hs</td>
                    <td>Curso HSK4</td>
                    <td>9</td>
                    <td>Dos cuotas $2000</td>
                    </tr>
                    <tr class="tablacDos">
                    <td>16/3</td>
                    <td>Martes y Jueves</td>
                    <td>20:30hs a 22:00hs</td>
                    <td>Curso HSK3</td>
                    <td>9</td>
                    <td>Dos cuotas $2000</td>
                    </tr>
                    <tr class="tablaTa">
                    <td>25/3</td>
                    <td>Martes y Jueves</td>
                    <td>19:00hs a 21:00hs</td>
                    <td>Taller Hanzi</td>
                    <td>12</td>
                    <td>Tres cuotas $2000</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <div class="arriba">
            <a href="./horarios.html">Arriba</a>
        </div>
        <footer id="gridFooter">
            <div class="container divFooter altoUno">
                <div class="row">
                    <div class="col-md-2 col-sm-1" ></div>
                    <div class="col-md-8 col-sm-10">
                        <p class="direccion">Chino 918 - chino918@gmail.com - 0800-CHINO918(24466918)</p>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                    
                </div>
            </div>
            <div class="container altoDos">
                <div class="row divLogo">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <img src="../imagenes/footer.png" alt="logo">
                    </div>
                    <div class="col-md-4"></div>
                   
                </div>
            </div>
            <div class="container altotres">
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="inst col-md-3 col-sm-4">
                        <a href="https://www.instagram.com/chino.918/?hl=es-la" >
                            <img src="../imagenes/instragram.png" alt="Logo instagram" class="logoInst">
                            </a>
                    </div>
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="face col-md-3 col-sm-4">
                        <a href="https://www.facebook.com/918chino">
                            <img src="../imagenes/facebook.png" alt="Logo facebook" class="logoFace">
                    </a>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>
            </div>
            <div class="container altoCuatro">
                <div class="row dise">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <p class="creador">Diseñador: Leandro Luck</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            
        </footer>
    </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>  
</body>
</html>