<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chino 918: servicios ofrecidos.</title>
    <meta name="keywords" content="Idioma, Lenguaje, Lengua, Chino, Chino Mandarin, Clases, Enseñanza, Estudio, Aprendisaje, Talleres, Workshop, Traducción, ">
    <meta name="description" content="Te ofrecemos cursos, talleres y workshops para el estudio del idioma Chino mandarín, desde una perspectiva única y con un gusto gourmet. ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/stilos.css">
        <!-- font BebasNeue -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
         <!-- font Oswald -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

</head>
<body class="mediaServicios">
    <div  class="gridCuerpo gridCuerpoMediaServicios">
        <header>
            <a href="../index.html" class="imgHeader">
                <img src="../imagenes/header.JPG" alt="Logo" 
                class="rounded-circle imagenHeader">
            </a>
        </header>
        <nav>
            <ul id="gridListaNav">
                <li class="liNav"><a href="../index.html">Home</a></li>
                <li class="liNav"><a href="./vision.html">Vision</a></li>
                <li class="liNav"><a href="./servicios.html">Servicios</a></li>
                <li class="liNav"><a href="./horarios.html">Horarios</a></li>
                <li class="liNav"><a href="./contactos.html">Contacto</a></li>
            </ul>
        </nav>
        <main class="gridMain gridMainServicios">
            <section class="gridSectAside">
                <h1 class="titulo">Servicios</h1>
                <div class="parrafo mediaParrafo">
                    <h2 class="wc">WORKSHOPS CULTURALES</h2>
                    <h3 class="wc">Diseñadores gráfico contemporáneos Chinos</h3>
                    <p class="text">Este workshop, primero en su temática, está dirigido a los amantes de la cultura visual china, así como profesionales del ámbito del diseño y artes visuales. Tiene como fin presentar a lo largo de los cuatro encuentros, a los cuatro diseñadores gráficos chino que más han aportado al desarrollo de la disciplina en China en los últimos 30 años y que ha su vez, han sido tendencia en Europa.</p>
                    <h3 class="wc">Fuentes tipográficas chinas y diseño de posters:</h3>
                    <p class="text">Este workshop está dirigido a los amantes de la cultura visual china, profesionales del ámbito del diseño y artes visuales, este Workshop tiene como finalidad  presentar los diferentes tipologías de fuentes tipográficas china así como sus diferencias formales. A través de piezas gráficas, analizar su uso forma e su influencia estética en el diseño de poster contemporáneo Chino. Como cierre del mismo, se le propondrá al alumnado realizar el diseño de un poster que responda a los códigos visuales analizados.</p>
                    <h2 class="wde">WORKSHOP DE EXPRESION ORAL INTERMEDIO TEMATICO</h2>          
                    <h3 class="wde">Manga"The song of the long March"</h3>                
                    <p class="text">Desarrollá tus habilidades expresivas a través de este manga situado en la Dinastía Tang. A compañía a la heredera 长歌 en su travesía para recuperar su lugar como emperatriz.</p>
                </div>
            </section>
            <aside class="gridAsideServicios">
                <div class="parrafoDos mediaParrafoDos">
                    <h2 class="c">Cursos</h2>
                    <h3 class="c">HSK 3 y HSK 4</h3>
                    <p>Preparación para HSK 3 y 4 (Intensivo, 9 clases, 2 veces por semana) Este taller está dirigido para alumnos con conocimiento de HSK 3 y 4. A lo largo de los 9 encuentros aprenderemos estrategias para abordar cada una de las partes del examen, así  como repasar estructuras gramaticales y comprensión de texto y auditivo. Realizaremos prácticas con exámenes modelos para que la experiencia en clase sea lo más cercano al día del examen.</p>
                    <h2 class="ta">Taller</h2>
                    <h3 class="ta">Intro a los Hanzi: Etimología, metáfora y cultura.</h3>
                    <p class="textop">Este Taller está dirigido a aquellos curiosos de los caracteres Chinos y de su evolución a lo largo del tiempo. El presente propone un abordaje multidimensional con el fin de comprender al carácter no sólo como una herramienta de escritura, sino como un complejo de forma y sentido.</p>

                </div>
            </aside>
        </main>         
        <div class="arriba">
            <a href="../views/servicios.html">Arriba</a>
        </div>
        <footer id="gridFooter">
            <div class="container divFooter altoUno">
                <div class="row">
                    <div class="col-md-2 col-sm-1" ></div>
                    <div class="col-md-8 col-sm-10">
                        <p class="direccion">Chino 918 - chino918@gmail.com - 0800-CHINO918(24466918)</p>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                    
                </div>
            </div>
            <div class="container altoDos">
                <div class="row divLogo">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <img src="../imagenes/footer.png" alt="logo">
                    </div>
                    <div class="col-md-4"></div>
                   
                </div>
            </div>
            <div class="container altotres">
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="inst col-md-3 col-sm-4">
                        <a href="https://www.instagram.com/chino.918/?hl=es-la" >
                            <img src="../imagenes/instragram.png" alt="Logo instagram" class="logoInst">
                            </a>
                    </div>
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="face col-md-3 col-sm-4">
                        <a href="https://www.facebook.com/918chino">
                            <img src="../imagenes/facebook.png" alt="Logo facebook" class="logoFace">
                    </a>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>
            </div>
            <div class="container altoCuatro">
                <div class="row dise">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <p class="creador">Diseñador: Leandro Luck</p>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>